{%extends "index.html"%}

{%block content%}
<header>
    <nav>
        <ul>
            <li>
                <a href="post/category/sport">Sport</a>
            </li>
            <li>
                <a href="post/category/politics">Politics</a>
            </li>
            <li>
                <a href="post/category/art">Art</a>
            </li>
            <li>
                <a href="post/category/life">Life</a>
            </li>
            <li>
                <a href="post/category/csit">CS / IT</a>
            </li>
            <li>
                <a href="post/category/other">Other</a>
            </li>
        </ul>
    </nav>
</header>
{%endblock%}